@font-face {
  font-family: brandon;
  src: url(./fonts/brandon-grotesque-black-58a8a3e824392.otf);
}

body {
  margin: 0;
  padding: 0;
 /* color: #00A651;
  color: #83BBF4;
  color: #FF4E00;
  color: #484D53; */
  }

.App {
  font-family: brandon;
  font-style: normal;
  font-size: 4vw;
  color: #484D53;
  margin: 0;
  padding: 0;
}

.menu {
  background-color: white;
  margin: 0;
  padding: 1vw 1vw 0vw 1vw;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 99vw;
  box-shadow: 0px 4px 21px -13px rgba(0,0,0,0.75);
  z-index: 9999;
}

ul {
  margin: 0.7vw 0.7vw 0vw 0.7vw;
  padding: 0.7vw 0.7vw 0vw 0.7vw;
  width: 24vw;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #484D53;
}
li {
  text-decoration: none;
  font-size: 1vw;
  padding: 0.8vw;
}
li:hover {
  text-decoration: none;
  cursor: pointer;
  color: #FF4E00;
  border-bottom: solid;
}

h1 {
  margin: 0;
}

.main-1 {
  margin: 6vw 0 0vw 0;
  padding: 7vw 4vw;
  background-color: #484D53;
  background-image: url(../src/images/AstridWaves-01.svg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.main-2 {
  padding: 7vw 4vw;
  background-color:  #00A651;
  background-image: url(../src/images/AstridWaves-02.svg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.main-text {
  padding: 10vw;
  display: flex;
  justify-content: center;
  letter-spacing: 0.2em;
}

.main-text-2 {
  padding: 10vw 0 0 0;
  display: flex;
  justify-content: center;
  letter-spacing: 0.2em;
}

.main-text-text {
  color: white;
}
.main-text-stop-green {
  color: #00A651;
}
.main-text-stop-red {
  color: #FF4E00;
}
